body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f0f2f5;
  display: block;
}

header {
  text-align: center;
  background-color: #125b50;
  padding: 100px 0;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 20%;
  background-image: linear-gradient(#8459f9, #4c3196);
}

header > img {
  border: 10px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0;
}

p {
  margin: 0;
}

.author {
  color: white;
  font-size: 30px;
  font-family: 'Cookie', cursive;
}

.skills {
  color: white;
}

.cv-button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
}
.cv-button:hover {
    color: #8459f9;
    justify-content: center;
    
}

.about {
    background-color: white;
    color: black;
    margin: 100px auto;
    padding: 50px;
    /* width: 50%; */
    position: relative;
    box-shadow: 0.6em 0.6em 1.2em 1.2em rgb(0 0 0 / 5%);
}
.title {
    text-align: center;
    font-size: 30px;
}

.contact-me {
    align-content: center;
}